.card {
    width: 26.375rem;
    height: 23.125rem;
    position: relative;
} 

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card p {
    background-color: #16284E;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
}
.especificacion-card {
   

}